<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarefas com Vue 3</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css"> </head>
<body>

    <div id="app">
        <h1>Tarefas</h1>
        
        <div class="input-area">
            <input v-model="novaTarefa" type="text" placeholder="Digite sua Tarefa!"/>
            <button @click="adicionarTarefa" id="btnAdicionar">+</button>
        </div>    

        <ul id="listaTarefas">
            <li v-for="(tarefa, index) in tarefas" 
                :key="index" 
                :class="{ concluida: tarefa.feita }"
                @click="alternarTarefa(tarefa)">
                
                {{ tarefa.texto }}

                <button class="fechar" @click.stop="removerTarefa(index)">X</button>
            </li>
        </ul>
    </div>

    <script src="script.js"></script>
</body>
</html>